.m{
    margin:20px;
    padding-top: 50px;
    padding-top: 50px;
    text-align: center;
    background-color: #ecf5fe;
    border-radius: 0.75rem;

}
.q{
    width:100%;
    height:auto;
    background-color: #ecf5fe;
}