.k1{
  display:grid;
  grid-template-columns: 1fr;
  padding-top: 100px;
  padding-bottom: 0px;
}
.k{
    display:grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    padding-bottom: 150px;
    width:100vh;
    height:100vh;
}
label{
  cursor:pointer;
}
.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: red;
    border: solid red;
    border-width: 1px 1px 0 1px;
  }